<div class="container text-center jumbotron">

<h1>This is my Alpha Blog<small> Its just the begining...</small></h1>

<%= link_to 'Alpha Blog', articles_path %> | <%= link_to "About", about_path %>

</div>







<!---<p>This is a Picture</p><br/> 

<%= link_to image_tag('scotland.jpeg'), 'http://www.example.com' %>

--->





