<h1>This is a Home Page, Show it some respect!</h1>

<p>This is a Picture</p><br/>

<%= link_to image_tag('scotland.jpeg'), 'http://www.malcolmjrobertson.com' %>

<%= image_tag 'scotland.jpeg' %>

<%= link_to "About", about_path %>

<p>git config --global user.name "Malcolm"</p>
<p>git config --global user.email "malcolm@robtecs.com"</p>
<p>git config --list</p>
<p>git init</p>
<p>git add -A</p>
<p>git status</p>
<p>git commit -m "Commit Comment"</p>
<p> git remote -v</p>

