<div class="container">

    <div id="mainText" class="jumbotron text-center"><h1>This is my Alpha Blog<br/><small> Its just the begining... </small></h1>

       <P> <%= link_to 'Sign up now', 'signup', class: "btn btn-primary btn-lg" %></P>
    

        <p><%= link_to 'Alpha Blog', articles_path %> | <%= link_to "About", about_path %></p>

    </div>
    
</div>







<!---<p>This is a Picture</p><br/> 



--->





