//$navbar-default-bg:#4aa3df;

navFont {
    
    color: azure;
    
}

.jumbotron {
    
    background-image: asset-url('bridge.jpg');
    background-size: cover;
}

#mainText {
    
    color:#2980ba;
}

.footer small {
    
    
    float: left;
}

.footer ul li {
    
    list-style: none;
    float: right;
    margin: 5px;
    
}

.aboutText {
    
    color:#2980ba;
}

.article-actions {
    
    border-top:  1px solid #2980ba;
    padding-top: 5px;
    
}

.bottomPadding {
    
    margin-bottom: 15px;
    
}

.article-title {
    
    font-weight: bold;
    font-size: 1.5em;
    
}

.article-body {
    
    border-top: 1px sold #eaeaea;
    padding-top: 15px;
    padding-bottom: 15px;
    
}


@import "bootstrap-sprockets";
@import "bootstrap";

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"